@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Federo&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 240, 241, 244; /* Updated color */
  --background-end-rgb: 240, 241, 244; /* Updated color */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 240, 241, 244;
    --background-end-rgb: 240, 241, 244;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {
  ._inter {
    font-family: "Inter", sans-serif;
  }

  ._monts {
    font-family: "Montserrat", sans-serif;
  }

  ._federo {
    font-family: "Federo", sans-serif;
  }

  ._oswald {
    font-family: 'Oswald', sans-serif;
  }

  input,
  textarea {
    border: none;
    resize: none;
  }

  input:focus,
  textarea:focus {
    outline: none;
    background-color: rgb(0 0 0 / 0);
  }
}